.c-home-hero {
  --home-hero-height: calc(min(var(--vh, 1vh) * 100, 80vw));
  height: var(--home-hero-height);
}

.u-anim-char .word {
  overflow: hidden;
  display: inline-block;
}

.u-anim-char .char {
  display: inline-block;
  transform: translateY(100%);
}

/* html.is-first-loaded .u-anim-char .char {
  transition-delay: calc(var(--word-index) * 60ms);
  transition-property: transform;
  transition-duration: 1.2s;
  transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  transform: translateY(0%);
} */

.is-inview .u-anim-char .char {
  transition-delay: calc(var(--word-index) * 20ms);
  transition-property: transform;
  transition-duration: 1s;
  transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  transform: translateY(0%);
}

.o-tag {
  opacity: 0;
  transform: scale(0.9);
}

.c-cases__tags-list.is-inview .o-tag {
  transition-delay: calc(var(--item-index) * 100ms);
  transition-property: transform, opacity;
  transition-duration: 1.2s;
  transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  transform: scale(1);
  opacity: 1;
}

.fade-in {
  opacity: 0;
  transform: translateY(2rem);
  transition-property: transform, opacity;
  transition-duration: 0.6s;
  transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
}

.c-cases__item-right .fade-in {
  transition-delay: 0.2s;
}

.fade-in.is-inview {
  opacity: 1;
  transform: translateY(0rem);
}

.o-indent .word:first-child .char {
  margin-left: 17rem;
}
