[data-page="agency"] body {
  background-color: #fff;
  --input-bg-color: #fff;
}

@media (min-width: 768px) {
  @for $i from 1 through 10 {
    [data-col="#{$i}"] {
      grid-column: span #{$i};
    }
  }
  @for $i from 1 through 15 {
    [data-row="#{$i}"] {
      grid-row: span #{$i};
    }
  }
}
@media (max-width: 767px) {
  @for $i from 1 through 4 {
    [data-col-mob="#{$i}"] {
      grid-column: span #{$i};
    }
  }
}
