.c-scroll-wrapper_inner {
  html:not(.wf-design-mode) & {
    height: 100vh;
    overflow-x: hidden;
    // overflow-y: scroll;
    position: relative;
  }

  html.is-mobile & {
    max-height: var(--app-height);
  }
}
