.c-home-hero {
  --home-hero-height: calc(var(--vh, 1svh) * 100);
  height: var(--home-hero-height);
  @media (min-width: 992px) {
    --home-hero-height: calc(min(var(--vh, 1svh) * 100, 80vw));
  }
}
