.c-client__wrapper-item::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: #fff;
  opacity: 0;
  z-index: -1;
  transition: opacity 0.5s ease, inset 0.5s ease;
  border-radius: 100vw;
}
.c-client__wrapper-item {
  @media (min-width: 991px) {
    &:hover::before {
      inset: -0.5rem;
      opacity: 1;
    }
  }
  @media (max-width: 991px) {
    &::before {
      inset: -0.5rem;
      opacity: 1;
    }
  }
}

.c-client__item-name {
  @media (min-width: 992px) {
    grid-template-columns: 0fr;
    transition: grid-template-columns 600ms cubic-bezier(0.215, 0.61, 0.355, 1);
  }
}

.c-client__inner-text {
  & .word {
    display: inline-block;
    transition: opacity 400ms ease, transform 400ms ease;
    opacity: 0;
    transform: translateY(2rem);
  }
}
.c-client__wrapper-item {
  &:hover {
    .c-client__inner-text {
      & .word {
        opacity: 1;
        transform: translateY(0);
        transition-delay: calc(var(--word-index) * 100ms);
      }
    }
  }
  @media (max-width: 991px) {
    .c-client__inner-text {
      & .word {
        opacity: 1;
        transform: translateY(0);
      }
    }
  }
}

.c-client__wrapper-item:hover {
  .c-client__item-name {
    grid-template-columns: 1fr;
  }
}

.swiper-slide.c-cases__slider-slide:last-child {
  margin-right: 0rem;
}

/* TAG */

.o-tag::before {
  content: "";
  position: absolute;
  inset: -0.5rem;
}

/* >TAG */

/* .o-tag,
.c-cases__slider-slide {
  opacity: 0;
  transform: scale(0.9);
} */

.c-cases__item-right .lines .word {
  display: inline-block;
  opacity: 0;
  transform: translateY(2rem);
  transition-property: opacity, transform;
  transition-duration: 0.8s;
}

.is-inview .c-cases__item-right .lines .word {
  transition-delay: calc(var(--line-index) * 100ms);
  opacity: 1;
  transform: translateY(0);
}

.c-cases__slider-btn-bg::before {
  content: "";
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  background-color: #245792;
  border-radius: 100%;
  z-index: 1;
  transform: scale(0);
  transition: transform 0.3s ease;
}

.c-cases__slider-btn-bg::after {
  content: "";
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  border-radius: 100%;
  border: 1px solid #d3deea;
  transition: transform 0.3s ease;
}
.c-cases__slider-btn:hover .c-cases__slider-btn-bg::before {
  transform: scale(1);
  opacity: 1;
}

.c-cases__slider-btn:hover .c-cases__slider-btn-bg::after {
  transform: scale(0.4);
}

.c-cases__slider-btn.swiper-button-disabled {
  pointer-events: none;
}

.c-cases__slider-btn.swiper-button-disabled .c-cases__slider-btn-ico {
  opacity: 0.6;
}

.c-cases__bottom {
  html.is-ready &.is-inview {
    .swiper-slide.c-cases__slider-slide {
      transform: translateX(0);
      opacity: 1;
      &:nth-child(2) {
        transition-delay: 100ms;
      }
      &:nth-child(3) {
        transition-delay: 200ms;
      }
    }
  }
}
