[data-page="highlights"] {
  body {
    background-color: #fff;
  }
}

.c-higlights-project__video-icon {
  & svg {
    &:nth-child(1) {
      display: none;
    }
  }
  .has-played & {
    svg {
      &:nth-child(1) {
        display: block;
      }
      &:nth-child(2) {
        display: none;
      }
    }
  }
}

.c-higlights-project__video-wrapper,
.c-cases__client-video {
  &:hover {
    .c-higlights-project__video-icon {
      opacity: 1;
      transform: translateY(0);
    }
    .c-higlights-project__bar {
      opacity: 1;
    }
    .c-higlights-project__video-filter {
      opacity: 0.15;
    }
    .c-higlights-project__video {
      transform: scale(1.05);
    }
  }
  &.has-played {
    .c-higlights-project__video-icon {
      opacity: 0;
    }
    .c-higlights-project__bar {
      opacity: 1;
    }
  }
}

[data-video="bar"] {
  transition: stroke-dashoffset 500ms linear;
  --lenght: 1057.5751316061705px;
  stroke-dashoffset: calc(
    (var(--lenght) - (var(--lenght) * var(--progress, 0)))
  );
  stroke-dasharray: var(--lenght);
}

@media (min-width: 767px) {
  .c-higlights-project__left:hover {
    .c-higlights-project__left-container {
      transform: rotateY(-180deg);
    }
  }
}

.c-higlights-project__left-container {
  transform-style: preserve-3d;
}

.c-higlights-project__divider {
  transform: scaleX(0);

  transition: transform 800ms ease;
  html.is-ready &.is-inview {
    transform: scaleX(1);
  }
}

.c-higlights-project__left {
  opacity: 0;
  @media (min-width: 768px) {
    transform: translateX(-2rem);
  }
  transition: opacity 800ms ease, transform 800ms ease;
  html.is-ready .c-higlights-project__item.is-inview & {
    opacity: 1;
    @media (min-width: 768px) {
      transform: translateX(0);
    }
  }
}
.c-higlights-project__right {
  opacity: 0;
  @media (min-width: 768px) {
    transform: translateX(2rem);
  }
  transition: opacity 800ms ease, transform 800ms ease;
  html.is-ready .c-higlights-project__item.is-inview & {
    opacity: 1;
    @media (min-width: 768px) {
      transform: translateX(0);
    }
  }
}
