/* ------ lazyload ------ */

.c-agency-gallery__image-mask.c-lazy .c-image_img,
.c-agency-gallery__image-mask.c-lazy .c-slider-image_img {
  opacity: 0;
  transition: opacity 1.2s cubic-bezier(0.215, 0.61, 0.355, 1);
}

html.is-ready {
  .c-agency-gallery__image-mask.c-lazy .c-image_img.-lazy-loaded,
  .c-agency-gallery__image-mask.c-lazy .c-slider-image_img.-lazy-loaded,
  .c-agency-gallery__image-mask.c-lazy .c-image_img.swiper-lazy-loaded {
    transition-delay: 400ms;
    opacity: 1;
  }
}
/* ------ >lazyload ------ */

html.is-ready {
  .c-agency-gallery__image-mask.c-lazy.-lazy-loaded .c-agency-gallery__image {
    transition-delay: 400ms;
    transform: scale(1);
  }
}
