.c-modal {
  visibility: hidden;
  pointer-events: none;
  transition: visibility 1800ms linear;

  html.has-modal-open-agency &.is-agency {
    /* transform: translate3d(0%, 0%, 0px); */
    visibility: visible;
    pointer-events: auto;
  }
  html.has-modal-open-higlights &.is-higlights {
    /* transform: translate3d(0%, 0%, 0px); */
    visibility: visible;
    pointer-events: auto;
  }
  .c-scrollbar {
    height: calc(100% - 8.75rem);
  }
  .c-footer {
    padding-bottom: 8.75rem;
  }
}

.c-scrollbar {
  .has-modal-open-agency &,
  .has-modal-open-higlights & {
    opacity: 0;
  }

  .has-scroll-scrolling .c-modal & {
    opacity: 1;
  }
}

.c-modal__inner {
  // transform: translateY(100%);
  clip-path: inset(100% 0 0 0);
  transition: clip-path 600ms $ease-power4-in-out;
  .has-modal-open-agency &,
  .has-modal-open-higlights & {
    clip-path: inset(0 0 0 0);
    // transform: translateY(0);
  }
}

.c-modal__bg {
  opacity: 0;
  transition: all 500ms $ease-power4-out;
  .has-modal-open-agency &,
  .has-modal-open-higlights & {
    opacity: 1;
  }
}

.c-modal__inner-wrapper {
  opacity: 0;
  // transform: translateY(15rem);
  transition: opacity 800ms $ease-power3-in-out,
    transform 600ms $ease-power3-in-out;
  .has-modal-open-agency &.is-ready,
  .has-modal-open-higlights &.is-ready {
    opacity: 1;
    transition-delay: 50ms;
    // transform: translateY(0);
  }
}
.c-modal__wrapper {
  visibility: hidden;
  html.has-modal-open-agency &,
  html.has-modal-open-higlights & {
    visibility: visible;
  }
}
