.c-modal {
  visibility: hidden;
  pointer-events: none;
  transition: visibility 1800ms linear;

  html.has-modal-open & {
    visibility: visible;
    pointer-events: auto;
  }

  [data-scroll-section] {
    padding-bottom: 8.75rem;

    @media (max-width: 767px) {
      padding-bottom: 5.8rem;
    }
  }
}

.c-scrollbar {
  .has-modal-open & {
    opacity: 0;
  }

  .has-scroll-scrolling .c-modal & {
    opacity: 1;
  }
}

// .c-modal__inner-wrapper {
//   transform: translateY(100%);
//   @media (max-width: 767px) {
//   }
//   transition: transform 800ms $ease-power4-in-out;
//   .has-modal-open &.is-ready {
//     transform: translateY(0);
//     @media (max-width: 767px) {
//       transform: translateY(0);
//     }
//   }
// }

.c-modal__bg {
  opacity: 0;
  transition: all 800ms $ease-power4-out;
  transition-delay: 0.2s;
  .has-modal-open & {
    transition-delay: 0s;
    opacity: 1;
  }
}

.c-modal__wrapper {
  visibility: hidden;
  html.has-modal-open & {
    visibility: visible;
  }
}

.c-layout {
  .c-modal & {
    transition: transform 800ms $ease-power4-in-out;
    transform: translateY(100%);
  }
  .has-modal-open .c-modal .is-ready & {
    transform: translateY(0);
  }
}
