.o-nav-text:hover ~ .o-nav__decoration {
  .o-nav__decoration-span {
    opacity: 1;
    transition-delay: calc(var(--item-index) * 50ms);
    // span {
    //   opacity: 1;
    // }
  }
}

.o-nav__decoration-span {
  opacity: 0;
  transition: opacity 0ms linear;
  transition-delay: calc((6 - var(--item-index)) * 50ms);
}

// .o-nav__decoration-span {
//   span {
//     opacity: 0;
//     transition: opacity 0ms linear;
//     transition-delay: calc(var(--char-index) * 50ms);
//   }
// }
