.c-onplan__timeline {
  animation: timeline 10000ms linear infinite;
  animation-play-state: paused;
  html.is-ready.has-dom-ready.is-finish-load .c-cases__bottom.is-inview & {
    animation-play-state: running;
  }
}
.c-onplan__card-3-time {
  &:nth-child(1) {
    clip-path: inset(0 50% 0 0);
  }
  &:nth-child(2) {
    clip-path: inset(0 0 0 50%);
  }
}

@keyframes timeline {
  100% {
    transform: translateX(-50%);
  }
}
