/* ------ preloader ------ */

.o-loader .c-header__logo,
.o-loader .c-header__list-item {
  opacity: 0;
  animation-play-state: paused;
  animation-name: textLogo;
  animation-timing-function: steps(1);
  animation-duration: 1s;
  animation-iteration-count: 3;
  animation-direction: alternate;
  animation-fill-mode: forwards;
  animation-delay: calc(var(--item-index) * 50ms);
}
.o-loader .c-header__logo {
  animation-play-state: running;
}

.o-loader .c-header__list-item {
  animation-play-state: running;
  animation-delay: calc(var(--item-index) * 70ms + 600ms);
}

@keyframes textLogo {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* ------ >preloader ------ */
