.o-scroll {
  transition-property: transform, opacity;
  transition-timing-function: ease;
  transition-duration: 400ms;
  opacity: 0;
  transform: translateY(2rem);

  html.is-ready & {
    opacity: 1;
    transform: translateY(0);
  }
  .is-old & {
    opacity: 0;
    transform: translateY(-2rem);
  }
}
