.o-indent .word:first-child .char {
  margin-left: 17rem;
}

.u-anim-char .word {
  display: inline-block;
  visibility: hidden;
}

.is-inview .u-anim-char .word:nth-child(3n) {
  transition-delay: calc(var(--word-index) * 30ms);
  visibility: visible;
}
.is-inview .u-anim-char .word:nth-child(7n) {
  transition-delay: calc(var(--word-index) * 40ms);
  visibility: visible;
}
.is-inview .u-anim-char .word:nth-child(9n) {
  transition-delay: calc(var(--word-index) * 50ms);
  visibility: visible;
}

.is-inview .u-anim-char .word {
  transition-delay: calc(var(--word-index) * 20ms);
  visibility: visible;
}
